language: java
env:
  global:
  - CC_TEST_REPORTER_ID=3f1c0d93a3be444be021f93bdb077079ae9acee47374681435d9292821f4fe0c
  - secure: FNwwWsQwNIuP3LVArgdwrGGetgDhYjO08Fnc32AUDlRYnmq7BvneR0WRnxZM58dMbD4nqkBEIcjyifotfVvPY25wev1OiwqpoBJnpb62hTMVNT3AM4zPe/FsJHrbtaeYvvwhFLwrKMmQMYXuATjna4p+NCHrqpgU1GB2TJFiq+8ZsIexGlSGPJunpkUPiHwCg4k14HykAoKfs4ABsx73zzkiV+EEoF8+Kb0HDeAI94oi4ct/ulAggforv6czjKwtus1OEuhAg847AbA9LU0WbUjr8fs5aTi0odlmRrN6nZDjGDiUXPtvOm2fZsFRqhw09gpgmsgoS/YvsYlD54pj4tRDL03ikBijdkvOC8vzthDUnCCoRIZNH8R8T357CkeLzpQLQS5HmrohMfqwfksuLanTpfT32FnDmQsBQL+QqfXCzK9K4Joxc4EedHn437YYadmkiRU+Akyb7xAZ0f1ohnlqGB/iJXemDmFj98zhaeNu2zCz9O2yga1e2ivfoMBpLGBGjggEXctaTF60NOBOW6D4v5nKTJZzAJ+d1hKwOi2TPVGfMIQVHgYzAcslSbWwja19iS+x2EGOMbJ1hE2fBpqwPjtOZQzisxZhrKAicooPYL0YU7LUxfpPY5g67a2jWQ58qim0WCsxatglX8eq2Tn8qU5sv2XQeHyeX1ABaPA=
  - secure: Dn7DRMer0XBIjNLzJ4kg6SsyzfVxECD8rx4rS8mLwhLdo0OnvNkEWFgLCUpNpy3k8qeZT3lGl8J1Sy9XJMH8d2FWdemEVK22TipvEMa1GWj3aAuznco3tzt5ZGlaBIpCmNTzI1T7Gb0HyoiOLYArETKiuQLM/V49v/Nd3Ao1rgg611GZ2GOKIDDZKntnZQFyXq27BCbvvR6XgnDYcuqgEdCajl9ldUiACvky7hRr2DeRgBktB6llye90t9QpimsxCvrXFgp4rus/A4aZf2eAxurrBy07R7rlGrCWpoeBwfIDMFoBBiZnvpI4TLvj9wIUhf/533eEqgG1oWGIqsxh3QkO95RknUma+TSg5bz8rkEjIXU0wGKxfaOJWYhM4RWcPJvfVvEVhIvSk/DbIh9mBaWHpIUItIfhF6Nmb5yZJ3OH8fci+1unoJCdHyEKnQL60ChmNPRQq+4JUPhbHHl8/2r3siodTjoip2LJosk3wllWc/73lCCziv8uZnUI67UAUQNW8rAqXPf3qHIQgoLsWwAaIbNFwqay+dLD5mAu042UzacmY+gbj2kr2j0eXDY7aQDVjsLUnoColzfsQ9V2cKv9C91aTstCfvmFCbKiVY4NPph6VQQVKZm9ALTCFP6uTYRJJdaJEWHdwEzcUFgJvWIAMyP78EAYJGpFV2VEHKM=
  - secure: iUcTtjkO4FXhOBYWjK3xhNRqtE0sA5A59JN0rbY79yXryHZ340XjcKHChlvjFgYIyCRj0i6GcbbrM9jOYAQX6Xni9co21eYnWjX26rdm4+/AWSVElZpQaj7PsrC5dTYCCgOE7Vq3cjlExmeyRJtyec+NT7yAxEy5kgMTz9d+qZz+u0molv2JSyxF72q0/Bq5sPGac7GN78SgrIdTVOWPSQzKr0Z5kHslyH0zxboripXQgPo1Grlu+2+2U9v0lbwfaxSEi/USBZWKhGen+aWXy5szZoY+2dp08kJdQgDQwufNOC0W+5PHv5BwKPfrHOWsmjgP7bvQhrP05NiJeLMvElcH6wRvK6f6w/htWLAzJXvBOOyuZS6IxoKasPKctZ2ujpApFCb8PAYjBgmSqWfiBP+8XeVR2xoohw3b0N5H1Ur3CQEw4+Ukwa50Y09/hkYJFhXS0mrtBlS269CcHzB7IENt07Wk5QmNhkrMHgBMXM3FRbfkYczW5ZiPEW3zI6/3+7coJQVEh1FQp0jYSjw/oat5gXWLlDLWzD8q2tGUY9KqOu8bwtetSXMvsHL/mBnljGEMEXcjByZnrLkDL11K61KroDeuAQ2mn6mtxzvPt2iEJ8yoxQBKcTQU14P93+BLw+IL5rd7JStaWYfx+niBlg8JTg6eTvHHIuwWHTw6PQM=
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
script:
- mvn test
after_script:
- "./cc-test-reporter format-coverage -d -t jacoco ./target/jacoco-ut/jacoco.xml"
- "./cc-test-reporter upload-coverage -d"
before_deploy:
- mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
- export project_version=$(mvn help:evaluate -N -Dexpression=project.version|grep
  -v '\[')
deploy:
- provider: script
  script: ".travis/deploy.sh"
  skip_cleanup: true
  on:
    repo: trickl/language
    all_branches: true
- provider: releases
  api_key:
    secure: iF2SlYVZkrGVtm7rWYPBvfnkfgbb91fLpU7CseqaL3oPp9IWHZm6OgrNEQjfRpvZ+hyvVxzSCN5oOSBcESfQZ8qXShAXbCRkENmji6dLLjgTzsQuvNLTxqKWybTFWniJSXQ9lFtJCcFg3WeRZJTX0pJjl7+/VyOtOO3lV9OYfoZXPxtFizJy/igJ0y80jRTRqqup1CTD24VlA4shs4cq1N0WeqDTjFx0SmJbe9wkaI4AHQ0klnEhNzgfiKqN6JW3IYg+K8GG6TcQmHxUe/os/l6DAZegVERDhOIty8sG65k9mFfplSnez8wQwiFvowWxq8TdeqnXWFjJrAaYvWHndwj9l9s880d82Hk+M6z+R+DH/mC8kUmOxZVf/mnSnqTc8v/y2GEqJucUKUvANm5ljh9hFI8fXQvyJywh06P4FrDJTUBLmWPDUOj1Pg0oM9hWUqi1yc8+VMRmbwk/CygpEyGEUTnD47BxSarockCCg5lfKOV6mE23zh2hCJuJD7ETfQcOCHqRE13puE+h9xJzEaDKA8U9cj2jyDdDKP2oq74EZzworqt3DeXlYiC2R1GFWVdvUJumMhzIJ9Xbw+gTh9eOG07SIL2ZtaugJqgYHaxh2joGG/LkjusYThFWmqTns2MK8bGY10q0E9DNjMFF75m7593famN9QTJcIiYhxlI=
  file: "./target/language-$project_version.jar"
  skip_cleanup: true
  on:
    repo: trickl/language
  name: "$project_version"
